html {
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family: sans-serif;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0;
	padding: 0;
}

.bloqueado,
.liberado {
	width: 200px;
	height: 200px;
}

.bloqueado {
	border: 3px solid red;
}

.liberado {
	border: 3px solid blue;
}
